<%- include ("header.ejs"); %>
<div class="page-header">
  <div class="row">
    <div class="col">
      <h3 class="page-title">All Orders</h3>
    </div>
    <!-- <div class="col-auto text-right">
      <a
        class="btn btn-white filter-btn mr-3"
        href="javascript:void(0);"
        id="filter_search"
      >
        <i class="fas fa-filter"></i>
      </a>
      <a href="#" class="btn btn-primary add-button ml-3">
        <i class="fas fa-plus"></i>
      </a>
    </div> -->
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <div
            id="DataTables_Table_0_wrapper"
            class="dataTables_wrapper dt-bootstrap4 no-footer"
          >
            <div class="row">
              <div class="col-sm-12">
                <table
                  class="order-table"
                  id="data_table"
                  role="grid"
                  aria-describedby="DataTables_Table_0_info"
                >
                  <thead>
                    <tr role="row">
                      <th
                        class="sorting_asc"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        aria-sort="ascending"
                        aria-label="#: activate to sort column descending"
                        style="width: 27.2031px"
                      >
                        Order id
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        aria-label="Sub Category: activate to sort column ascending"
                        style="width: 268.25px"
                      >
                        Date
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        aria-label="Sub Category: activate to sort column ascending"
                        style="width: 268.25px"
                      >
                        Buyer
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        aria-label="Category: activate to sort column ascending"
                        style="width: 112.734px"
                      >
                        Status
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        aria-label="Date: activate to sort column ascending"
                        style="width: 114px"
                      >
                        Amount
                      </th>
                      <th
                        class="text-end sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        aria-label="Action: activate to sort column ascending"
                        style="width: 82.8125px"
                      >
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <%users.forEach((dataorders) => {%>
                    <%dataorders.Orders.forEach((data) => {%>

                    <tr role="row" class="odd">
                      <td class="sorting_1"><%=data._id%></td>
                      <td>
                        <%= data.dateandtime.toLocaleDateString(); %> <%=
                        data.dateandtime.toLocaleTimeString(); %>
                      </td>
                      <td><%= dataorders.Email%></td>
                      <td>
                        <%if(data.status === 1) {%>
                        <span class="success">fufilled</span>
                        <%} else {%>
                        <span class="text-warning">On hold</span>
                        <% } %>
                      </td>
                      <td>N<%=data.price%></td>
                      <td class="text-end">
                        <a
                          href="edit-subcategory.html"
                          class="btn btn-sm bg-success-light mr-2"
                        >
                          <i class="far fa-edit mr-1"></i>Watch
                        </a>
                      </td>
                    </tr>

                    <%})%> <%})%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ("footer.ejs"); %>
