<%- include ("header.ejs"); %>

    <div class="row">

      <% console.log(messages, "checking cash") %>

    <div class="col-12 d-flex">
    
    <div class="card card-table flex-fill">
    <div class="card-header">
    <h4 class="card-title">All Users</h4>
    </div>
    <div class="card-body">
    <div class="table-responsive" style="padding: 10px;">
    <table id="data_table" class="table table-center" >
    <thead>
    <tr>
    <th>Date</th>
    <th>User</th>
    <th>Email</th>
    <th>Total Spent</th>
    </tr>
    </thead>
    <tbody>
    <%users.forEach((data, index) => {%>

    <tr>
    <td><%= data.dateandtime.toLocaleDateString(); %> <%= data.dateandtime.toLocaleTimeString(); %></td>
    <td>
     <%=data.username%>
    </td>
    <td>
      <%=data.Email%>
    </td>
    <td>
        <%let spent = 0%>
        <%data.Orders.map((amounts) => {%>
           <% spent += amounts.price %>
        <%})%>
        N<%=spent%>
    </td>
    </tr>

    <%})%>

    </tbody>
    </table>
    </div>
    </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    <!--body-->

    <%- include ("footer.ejs"); %>