<%- include ("header.ejs"); %>
<div class="page-header">
  <div class="row">
    <div class="col">
      <h3 class="page-title_edited">All products</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <div
            id="DataTables_Table_0_wrapper"
            class="dataTables_wrapper dt-bootstrap4 no-footer"
          >
            <div class="row">
              <div class="col-sm-12">
                <table
                  id="data_table"
                  class="table table-hover table-center"
                  role="grid"
                  aria-describedby="DataTables_Table_0_info"
                >
                  <thead>
                    <tr role="row">
                      <th>Name</th>
                      <th>Info/Price</th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        aria-label="Category: activate to sort column ascending"
                        style="width: 112.734px"
                      >
                        Sold
                      </th>
                      <th>Date</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%products.forEach((data, index) => {%>

                    <tr role="row" class="odd">
                      <td>
                        <% if(data.type == "facebook" || data.type ==
                        "facebookDating" || data.type == "facebookOthers" ) { %>
                        <a href="#" class="social-link fab fa-facebook-f"></a>
                        <% } else if(data.type == "twitter") { %>
                        <a href="#" class="social-link fab fa-twitter"></a>
                        <% } else if(data.type == "instagram") { %>
                        <a href="#" class="social-link fab fa-linkedin-in"></a>
                        <% } else { %> Others <% } %>
                      </td>
                      <td>N<%=data.price%></td>
                      <td><%=data.numOfItem%></td>
                      <td>
                        <%= data.dateandtime.toLocaleDateString(); %> <%=
                        data.dateandtime.toLocaleTimeString(); %>
                      </td>
                      <td class="text-end">
                        <button
                          type="button"
                          class="btn btn-sm bg-success-light mr-2"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModal<%=data._id%>"
                        >
                          <i class="far fa-edit mr-1"></i>more
                        </button>
                      </td>
                    </tr>
                    <%})%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ("footer.ejs"); %>
