<%- include ("./buypagehf/header.ejs"); %>
<style>
  .btn-cart-edited {
    flex: 1;
    min-width: 13rem;
    padding-top: 3px;
    cursor: pointer;
    background-color: #54524d;
    color: #fff;
    font-size: 0.8125em;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    min-height: 5rem;
  }
  .btn-cart-edited:hover:not(:disabled) {
    background-color: #ff8c04;
}

.btn-cart-edited i {
    font-size: 1.125em;
    margin-right: 0.8rem;
}
</style>
<main class="main single-product">
  <nav class="breadcrumb-nav"></nav>
  <div class="page-content">
    <div class="container">
      <div class="product product-single product-simple row mb-8">
        <div class="col-md-7">
          <div class="product-gallery">
            <div
              class="product-single-carousel owl-carousel owl-theme owl-nav-inner row cols-1 gutter-no"
            >
              <figure class="product-image">
                <!--
                                        <img src="images/products/product-single/1-800x1000.jpg"
                                            data-zoom-image="images/products/product-single/1-800x1000.jpg" alt="1"
                                            width="800" height="1000">
                                        -->
                <% if(item.type == "facebook" || item.type == "facebookDating"
                || item.type == "facebookOthers") { %>
                <img
                  src="../images/products/facebook.png"
                  alt="product"
                  width="800"
                  height="1000"
                />
                <% } else if(item.type == "twitter") { %>
                <img
                  src="../images/products/twitter.png"
                  alt="product"
                  width="800"
                  height="1000"
                />
                <% } else if(item.type == "instagram") { %>
                <img
                  src="../images/products/instagram.png"
                  alt="product"
                  width="800"
                  height="1000"
                />
                <% } else { %>
                <img
                  src="../images/products/google.png"
                  alt="product"
                  width="800"
                  height="1000"
                />
                <% } %>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="product-details">
            <h1 class="product-name">Item <small>Details</small></h1>

            <p class="product-price mb-1">
              <ins class="new-price"><%=item.name%></ins>
            </p>
            <p class="product-short-desc"><%=item.type%></p>

            <div class="">N<%=item.price.toLocaleString()%></div>
            <div class="product-form pt-1">
              <form
                class="product-form product-qty pt-1"
                method="post"
                action="/buypage/<%=item._id%>"
              >
                <div class="product-form product-qty pt-1">
                    <div class="product-form-group">
                        <div class="input-group">
                            <button type="button" class="quantity-minus p-icon-minus-solid"></button>
                            <input class="quantity form-control" type="number" min="1" max="1000000" name="purchaseNumber" id="purchaseNumber">
                            <button type="button" class="quantity-plus p-icon-plus-solid"></button>
                        </div>
                        <button type="submit" class="btn-product btn-cart-edited ls-normal font-weight-semi-bold" ><i class="p-icon-cart-solid"></i>BUY</button>
                    </div>
                </div>                
              </form>
            </div>
            <div class="product-action pt-5 pb-3">
              <a href="#" class="btn-product btn-compare mr-5"
                ><i class="p-icon-compare-solid"></i>Details</a>
              <a href="#" class="btn-product btn-wishlist"> ****** ******</a>
            </div>
            <hr class="product-divider" />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- End Main -->

<%- include ("./buypagehf/footer.ejs"); %>
