<%- include ("header.ejs"); %>

<div class="hero-one" data-background="assets/img/hero/hero-bg-1.png" style="height: 100%; padding:20px;" >
  <div class="card">
    <div class="card-body">
      <div class="row">

        <form  method="post" action="/buypage/<%=item._id%>" class="col-12 d-flex flex-column justify-content-center align-items-center">
          <span class="badge bg-success f-14">In stock</span>

          <div class="offer-check-block">

            <div class="offer-check border rounded p-3 d-flex justify-content-center align-items-center">
              <% if(item.type == "facebook" || item.type == "facebookDating" || item.type == "facebookOthers" ) { %>
              <a href="#" class="social-link fab fa-facebook-f"></a>
              <% } else if(item.type == "twitter") { %>
              <a href="#" class="social-link fab fa-twitter"></a>
              <% } else if(item.item == "instagram") { %>
              <a href="#" class="social-link fab fa-linkedin-in"></a>
              <% } else { %> Others <% } %>
            </div>

            
           </div>


            <!--Other sections-->
            <h5 class="mt-4 mb-3 f-w-500">About this item</h5>
            <ul>
              <li class="mb-2">Name:  <%=item.names%></li>
              <li class="mb-2">Type: <%=item.type%></li>
              <li class="mb-2">Description: <%=item.description%></li>
              <li class="mb-2">Password: *****</li>
            </ul>
  
            <div class="d-flex gap-2 align-items-center">
              <div class="form-group row">
                <label class="col-form-label col-3" style="white-space: noWrap;">Quantity</label>
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="btn-group btn-group-sm mb-2 border" role="group">
                    <button type="button" id="decrease" onclick="decreaseValue('number')" class="btn btn-link-secondary"><i class="ti ti-minus"></i></button>
                    <input class="wid-35 text-center border-0 m-0 form-control rounded-0 shadow-none" type="text" id="number" value="1" name="purchaseNumber" >
                    <button type="button" id="increase" onclick="increaseValue('number')" class="btn btn-link-secondary"><i class="ti ti-plus"></i></button>
                  </div>
                </div>
              </div>
              <h3 class="mb-4"><b>N<%=item.price.toLocaleString()%></b></h3>
            </div>

              <div class="col-12">
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Buy Now</button>
                </div>
              </div>

            </form>


        </div>
      </div>
    </div>
  </div>
</div>


<%- include ("footer.ejs"); %>
