<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from d-themes.com/html/panda/shop-6-cols.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Nov 2022 04:20:06 GMT -->
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Panda - Ultimate eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Panda - Ultimate eCommerce Template">
    <meta name="author" content="D-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/icons/favicon.png">
    <!-- Preload Font -->

    <link rel="preload" href="vendor/fontawesome-free/webfonts/fa-solid-900.woff2" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="vendor/fontawesome-free/webfonts/fa-brands-400.woff2" as="font" type="font/woff2"
        crossorigin="anonymous">

    <script>
        WebFontConfig = {
            google: { families: [ 'Josefin Sans:300,400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = 'js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>


    <link rel="stylesheet" type="text/css" href="vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.min.css">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/nouislider/nouislider.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <a href="tel:#" class="call">
                            <i class="p-icon-phone-solid"></i>
                            <span>+456 789 000</span>
                        </a>
                        <span class="divider"></span>
                        <a href="contact.html" class="contact">
                            <i class="p-icon-map"></i>
                            <span>25 West 21th STREET, Miami FL, USA</span>
                        </a>
                    </div>
                    <div class="header-right">
                        <div class="dropdown switcher">
                            <a href="#currency">USD</a>
                            <ul class="dropdown-box">
                                <li><a href="#USD">USD</a></li>
                                <li><a href="#EUR">EUR</a></li>
                            </ul>
                        </div>
                        <!-- End DropDown Menu -->
                        <div class="dropdown switcher">
                            <a href="#language"><img src="images/flagus.jpg" width="14" height="10" class="mr-1"
                                    alt="flagus">ENG</a>
                            <ul class="dropdown-box">
                                <li>
                                    <a href="#USD"><img src="images/flagus.jpg" width="14" height="10" class="mr-1"
                                            alt="flagus">ENG</a>
                                </li>
                                <li>
                                    <a href="#EUR"><img src="images/flagfr.jpg" width="14" height="10" class="mr-1"
                                            alt="flagfr">FRH</a>
                                </li>
                            </ul>
                        </div>
                        <span class="divider"></span>
                        <!-- End DropDown Menu -->
                        <div class="social-links">
                            <a href="#" class="social-link fab fa-facebook-f" title="Facebook"></a>
                            <a href="#" class="social-link fab fa-twitter" title="Twitter"></a>
                            <a href="#" class="social-link fab fa-pinterest" title="Pinterest"></a>
                            <a href="#" class="social-link fab fa-linkedin-in" title="Linkedin"></a>
                        </div>
                        <!-- End of Social Links -->
                    </div>
                </div>
            </div>
            <!-- End HeaderTop -->
            <div class="header-middle has-center sticky-header fix-top sticky-content">
                <div class="container">
                    <div class="header-left">
                        <a href="#" class="mobile-menu-toggle" title="Mobile Menu">
                            <i class="p-icon-bars-solid"></i>
                        </a>
                        <a href="demo1.html" class="logo">
                            <img src="images/logo.png" alt="logo" width="171" height="41">
                        </a>
                        <!-- End of Divider -->
                    </div>
                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu">
                                <li >
                                    <a href="/">Home</a>
                                </li>
                                <li class="active">
                                    <a href="/shop">Shop</a>
                                </li>
                                <li>
                                    <a href="#">Dashboard</a>
    
                                </li>

                                <li>
                                    <a href="#">Watch us!</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-right">
                        <div class="header-search hs-toggle">
                            <a class="search-toggle" href="#">
                                <i class="p-icon-search-solid"></i>
                            </a>
                            <form action="#" class="form-simple">
                                <input type="search" autocomplete="off" placeholder="Search in..." required>
                                <button class="btn btn-search" type="submit">
                                    <i class="p-icon-search-solid"></i>
                                </button>
                            </form>
                        </div>
                        <div class="dropdown login-dropdown off-canvas">
                            <a class="login-toggle" href="ajax/login.html" data-toggle="login-modal">
                                <span class="sr-only">login</span>
                                <i class="p-icon-user-solid"></i>
                            </a>
                            <!-- End Login Toggle -->
                            <div class="canvas-overlay"></div>
                            <a href="#" class="btn-close"></a>
                            <div class="dropdown-box scrollable">
                                <div class="login-popup">
                                    <div class="form-box">
                                        <div class="tab tab-nav-underline tab-nav-boxed">
                                            <ul class="nav nav-tabs nav-fill mb-4">
                                                <li class="nav-item">
                                                    <a class="nav-link active lh-1 ls-normal" href="#signin">Login</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link lh-1 ls-normal" href="#register">Register</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="signin">
                                                    <form action="#">
                                                        <div class="form-group">
                                                            <input type="text" id="singin-email" name="singin-email"
                                                                placeholder="Username or Email Address" required="">
                                                            <input type="password" id="singin-password"
                                                                name="singin-password" placeholder="Password"
                                                                required="">
                                                        </div>
                                                        <div class="form-footer">
                                                            <div class="form-checkbox">
                                                                <input type="checkbox" id="signin-remember"
                                                                    name="signin-remember">
                                                                <label for="signin-remember">Remember
                                                                    me</label>
                                                            </div>
                                                            <a href="#" class="lost-link">Lost your password?</a>
                                                        </div>
                                                        <button class="btn btn-dark btn-block"
                                                            type="submit">Login</button>
                                                    </form>
                                                    <div class="form-choice text-center">
                                                        <label>or Login With</label>
                                                        <div class="social-links social-link-active ">
                                                            <a href="#" title="Facebook"
                                                                class="social-link social-facebook fab fa-facebook-f"></a>
                                                            <a href="#" title="Twitter"
                                                                class="social-link social-twitter fab fa-twitter"></a>
                                                            <a href="#" title="Linkedin"
                                                                class="social-link social-linkedin fab fa-linkedin-in"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="register">
                                                    <form action="#">
                                                        <div class="form-group">
                                                            <input type="text" id="register-user" name="register-user"
                                                                placeholder="Username" required="">
                                                            <input type="email" id="register-email"
                                                                name="register-email" placeholder="Your Email Address"
                                                                required="">
                                                            <input type="password" id="register-password"
                                                                name="register-password" placeholder="Password"
                                                                required="">
                                                        </div>
                                                        <div class="form-footer mb-5">
                                                            <div class="form-checkbox">
                                                                <input type="checkbox" id="register-agree"
                                                                    name="register-agree" required="">
                                                                <label for="register-agree">I
                                                                    agree to the
                                                                    privacy policy</label>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-dark btn-block"
                                                            type="submit">Register</button>
                                                    </form>
                                                    <div class="form-choice text-center">
                                                        <label class="ls-m">or Register With</label>
                                                        <div class="social-links social-link-active ">
                                                            <a href="#" title="Facebook"
                                                                class="social-link social-facebook fab fa-facebook-f"></a>
                                                            <a href="#" title="Twitter"
                                                                class="social-link social-twitter fab fa-twitter"></a>
                                                            <a href="#" title="Linkedin"
                                                                class="social-link social-linkedin fab fa-linkedin-in"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button title="Close (Esc)" type="button" class="mfp-close"><span>×</span></button>
                                </div>
                            </div>
                            <!-- End Dropdown Box -->
                        </div>
                        <a href="wishlist.html" class="wishlist" title="Wishlist">
                            <i class="p-icon-heart-solid"></i>
                        </a>
                        <div class="dropdown cart-dropdown off-canvas mr-0 mr-lg-2">
                            <a href="#" class="cart-toggle link">
                                <i class="p-icon-cart-solid">
                                    <span class="cart-count">2</span>
                                </i>
                            </a>
                            <div class="canvas-overlay"></div>
                            <div class="dropdown-box">
                                <div class="canvas-header">
                                    <h4 class="canvas-title">Shopping Cart</h4>
                                    <a href="#" class="btn btn-dark btn-link btn-close">close<i
                                            class="p-icon-arrow-long-right"></i><span class="sr-only">Cart</span></a>
                                </div>
                                <div class="products scrollable">
                                    <div class="product product-mini">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/cart/product-1.jpg" alt="product" width="84"
                                                    height="105" />
                                            </a>
                                            <a href="#" title="Remove Product" class="btn-remove">
                                                <i class="p-icon-times"></i><span class="sr-only">Close</span>
                                            </a>
                                        </figure>
                                        <div class="product-detail">
                                            <a href="product.html" class="product-name">Peanuts</a>
                                            <div class="price-box">
                                                <span class="product-quantity">7</span>
                                                <span class="product-price">$12.00</span>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- End of Cart Product -->
                                    <div class="product product-mini">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/cart/product-2.jpg" alt="product" width="84"
                                                    height="105" />
                                            </a>
                                            <a href="#" title="Remove Product" class="btn-remove">
                                                <i class="p-icon-times"></i><span class="sr-only">Close</span>
                                            </a>
                                        </figure>
                                        <div class="product-detail">
                                            <a href="product.html" class="product-name">Prime Beef</a>
                                            <div class="price-box">
                                                <span class="product-quantity">4</span>
                                                <span class="product-price">$16.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Cart Product -->
                                </div>
                                <!-- End of Products  -->
                                <div class="cart-total">
                                    <label>Subtotal:</label>
                                    <span class="price">$148.00</span>
                                </div>
                                <!-- End of Cart Total -->
                                <div class="cart-action">
                                    <a href="cart.html" class="btn btn-outline btn-dim mb-2">View
                                        Cart</a>
                                    <a href="checkout.html" class="btn btn-dim"><span>Go To Checkout</span></a>
                                </div>
                                <!-- End of Cart Action -->
                            </div>
                            <!-- End Dropdown Box -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header -->
        <main class="main">
            <div class="page-header cph-header pl-4 pr-4" style="background-color: #fff7ec">
                <h1 class="page-title font-weight-light text-capitalize">Panda Shop</h1>
            </div>
            <div class="container-fluid">
                <nav class="breadcrumb-nav has-border">
                    <ul class="breadcrumb">
                        <li><a href="demo1.html">Home</a></li>
                        <li>Shop</li>
                    </ul>
                </nav>

                <div class="page-content mb-10 shop-page shop-horizontal">
                    
                    <nav class="toolbox toolbox-horizontal sticky-toolbox sticky-content fix-top">
                
                    </nav>
                    <div class="select-items">
                        <a href="#" class="filter-clean text-primary">Clean All</a>
                    </div>
                    <div class="row product-wrapper cols-lg-6 cols-md-4 cols-sm-3 cols-2">
                     <% if(products.length == 0) { %>
                       <div class="">No products available</div>
                     <% } else { %>

                     <% products.forEach( function(data){ %>
                        <div class="product-wrap">
                            <div class="product shadow-media text-center">
                                <figure class="product-media">
                                    <a href="/buypage/<%=data._id%>">
                                        <% if(data.type == "facebook") { %>
                                            <img src="images/products/facebook.png" alt="product" width="295" height="369" />
                                        <% } else if(data.type == "twitter") { %>
                                            <img src="images/products/twitter.png" alt="product" width="295" height="369" />
                                        <% } else if(data.type == "instagram") { %>
                                            <img src="images/products/instagram.png" alt="product" width="295" height="369" />
                                       <% } else { %>
                                         <img src="images/products/google.png" alt="product" width="295" height="369" />
                                         <% } %>
                                    </a>
                                </figure>
                                <div class="product-details">
                                    <h5 class="product-name">
                                        <a href="/buypage/<%=data._id%>">
                                            <%=data.name%>
                                        </a>
                                    </h5>
                                    <span class="product-price">
                                        <ins class="new-price">$<%=data.price%></ins>
                                    </span>
                                </div>
                            </div>
                            <!-- End .product -->
                        </div>
                        <% }) %>
     
                    </div>

                <!-- pagination  -->
                <%if(pageCount > 0 ) { %>
                    <nav class="toolbox toolbox-pagination pt-2 pb-5">
                        <p class="toolbox-item show-info d-block ls-m">Showing <span>1-12 of 60</span> Products</p>
                        <ul class="pagination">
                          <%if(currentPage > 1) { %>
                            <li class="page-item disabled">
                                <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
                                    aria-disabled="true">
                                    <i class="p-icon-angle-left"></i>
                                </a>
                            </li>
                          <% } %>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <% var i = 1; %>
                            <% if(currentPage > 5) { i = +currentPage - 4 } %>
                            <% if(i !== 1) { %>
                            <li class="page-item page-item-dots"></li>
                            <% } %>
                            
                            <% for(i; i<=pageCount; i++) { %>
                            <% if(currentPage == i) { %>
                            <li class="page-item"><a class="page-link" href="#"><%= i %></a></li>
                            <% } else { %>
                            <li class="page-item"><a class="page-link" href="#"><%= i %></a></li>
                            <% } %>
                            <% } %>

                            <%if(currentPage != pageCount) { %>
                            <li class="page-item">
                                <a class="page-link page-link-next" href="#" aria-label="Next">
                                    <i class="p-icon-angle-right"></i>
                                </a>
                            </li>
                            <% } %>
                        </ul>
                    </nav>
                    <% } %>

                    <% } %>

                </div>

            </div>

            <!-- End .page-content-->
        </main>
        <!-- End Main -->
        <footer class="footer">
            <div class="container">

                <!-- End FooterTop -->
                <div class="footer-middle">
                    <div class="footer-left">
                        <ul class="widget-body">
                            <li>
                                <a href="tel:#" class="footer-icon-box">
                                    <i class="p-icon-phone-solid"></i>
                                    <span>+456 789 000</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="p-icon-map"></i>
                                    <span>25 West 21th STREET, Miami FL, USA</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:mail@panda.com" class="">
                                    <i class="p-icon-message"></i>
                                    <span>info@panda.com</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="p-icon-clock"></i>
                                    <span>Mon-Fri: 10:00 - 18:00</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-center">
                        <a href="demo1.html" class="logo-footer">
                            <img src="images/logo.png" alt="logo-footer" width="171" height="41">
                        </a>
                        <div class="social-links">
                            <a href="#" class="social-link fab fa-facebook-f" title="Facebook"></a>
                            <a href="#" class="social-link fab fa-twitter" title="Twitter"></a>
                            <a href="#" class="social-link fab fa-pinterest" title="Pinterest"></a>
                            <a href="#" class="social-link fab fa-linkedin-in" title="Linkedin"></a>
                        </div>
                        <!-- End of Social Links -->
                    </div>
                    <div class="footer-right">
                        <div class="widget-newsletter">
                            <h4 class="widget-title title-underline">Subscribe Newsletter</h4>
                            <p>Subscribe to the Panda eCommerce Newsletter<br> updates from your favourite products.
                            </p>
                            <form action="#" class="form-simple">
                                <input type="email" name="email" id="email" placeholder="Email address here..."
                                    required="">
                                <button class="btn btn-link" type="submit">sign up</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End FooterMiddle -->
                <div class="footer-bottom">
                    <p class="copyright">Panda eCommerce © 2022. All Rights Reserved</p>
                    <figure>
                        <img src="images/payment.png" alt="payment" width="159" height="29">
                    </figure>
                </div>
                <!-- End FooterBottom -->
            </div>
        </footer>
        <!-- End Footer -->
    </div>
    <!-- Sticky Footer -->
    <div class="sticky-footer sticky-content fix-bottom">
        <a href="demo1.html" class="sticky-link">
            <i class="p-icon-home"></i>
            <span>Home</span>
        </a>
        <a href="shop.html" class="sticky-link">
            <i class="p-icon-category"></i>
            <span>Categories</span>
        </a>
        <a href="wishlist.html" class="sticky-link">
            <i class="p-icon-heart-solid"></i>
            <span>Wishlist</span>
        </a>
        <a href="account.html" class="sticky-link">
            <i class="p-icon-user-solid"></i>
            <span>Account</span>
        </a>
        <div class="header-search hs-toggle dir-up">
            <a href="#" class="search-toggle sticky-link">
                <i class="p-icon-search-solid"></i>
                <span>Search</span>
            </a>
            <form action="#" class="form-simple">
                <input type="text" name="search" autocomplete="off" placeholder="Search your keyword..." required />
                <button class="btn btn-search" type="submit">
                    <i class="p-icon-search-solid"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- Scroll Top -->
    <a id="scroll-top" class="scroll-top" href="#top" title="Top" role="button"> <i class="p-icon-arrow-up"></i>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
            <circle id="progress-indicator" fill="transparent" stroke="#000000" stroke-miterlimit="10" cx="35" cy="35"
                r="34" style="stroke-dasharray: 108.881, 400;"></circle>
        </svg>
    </a>

    <!-- MobileMenu -->
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay">
        </div>
        <!-- End Overlay -->
        <a class="mobile-menu-close" href="#"><i class="p-icon-times"></i></a>
        <!-- End CloseButton -->
        <div class="mobile-menu-container scrollable">
            <form action="#" class="inline-form">
                <input type="search" name="search" autocomplete="off" placeholder="Search your keyword..." required />
                <button class="btn btn-search" type="submit">
                    <i class="p-icon-search-solid"></i>
                </button>
            </form>
            <!-- End Search Form -->
            <ul class="mobile-menu mmenu-anim">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/shop" class="active">Shop</a>
                </li>
                <li class="active">
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li><a href="https://d-themes.com/buynow/pandahtml/">Watch us!</a></li>
            </ul>
            <!-- End MobileMenu -->
        </div>
    </div>
    <!-- Plugins JS File -->
    <script src="./assets/vendor/jquery/jquery.min.js"></script>
    <script src="./assets/vendor/sticky/sticky.min.js"></script>
    <script src="./assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="./assets/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
    <script src="./assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="./assets/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="./assets/vendor/nouislider/nouislider.min.js"></script>
    <!-- Main JS File -->
    <script src="./assets/js/main.min.js"></script>
</body>


<!-- Mirrored from d-themes.com/html/panda/shop-6-cols.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Nov 2022 04:20:06 GMT -->
</html>