<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from zwin.io/html/stooon/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 Feb 2023 22:38:34 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Socialogs</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/icons/favicon.png">
    <!-- Vendor Stylesheet -->
    <link rel="stylesheet" href="assetstwo/css/vendor.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="assetstwo/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="assetstwo/css/responsive.css">

    <!--Another styles-->

    <link rel="stylesheet" type="text/css" href="vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.min.css">

    <!-- Plugin CSS File -->
    <link rel="stylesheet" type="text/css" href="vendor/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/magnific-popup/magnific-popup.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="css/demo1.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="css/style.min.css">

</head>
<body class="home" style="position: relative;">

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!--Notification-->
    <div class="d-flex justify-content-center align-items-center" id="messages-notify">
        <%- messages("messages", locals) %>
    </div>

    <!-- search Popup -->
    <div class="body-overlay" id="body-overlay"></div>
    <div class="search-popup" id="search-popup">
        <form action="http://zwin.io/html/stooon/index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- search Popup end -->

    <!--sidebar menu start-->
    <div class="sidebar-menu" id="sidebar-menu">
        <button class="sidebar-menu-close">X</button>
        <div class="sidebar-inner">
            <div class="sidebar-logo">
                <div class="h2" style="color: #000; font-weight: bold; font-size: 20px;">Socialogs</div>
            </div>
            <div class="sidemenu-text">
                <p>Brand contact, in our opinion, is crucial to communication. Successful communication is based on real innovations and a satisfying consumer experience.</p>
            </div>
            <div class="sidebar-contact">
                <h4>Contact Us</h4>
                <ul>
                    <li><i class="fa fa-map-marker"></i>Lavaca Street, Suite 2000</li>
                    <li><i class="fa fa-envelope"></i>email@evha.com</li>
                    <li><i class="fa fa-phone"></i>(+880) 172570051</li>
                </ul>
            </div>
            <div class="sidebar-subscribe">
                <input type="text" placeholder="Email">
                <button><i class="fa fa-long-arrow-right"></i></button>
            </div>
            <div class="social-link">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--sidebar menu end-->

    <!--login menu start-->
    <div class="sidebar-menu-login" id="login-menu" >

        <button class="login-menu-close" id="toggleLoginButton" >X</button>

        <div class="sidebar" >


            <div class="tab tab-nav-underline tab-nav-boxed">
                <ul class="nav nav-tabs nav-fill mb-4">
                    <li class="nav-item">
                        <a class="nav-link lh-1 ls-normal active" href="#signin">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lh-1 ls-normal" href="#register">Register</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active in" id="signin">

                        <form method="post" action="/registerlogin/login" >
                            <div class="form-group">
                                <input type="text" id="singin-email" name="Email" placeholder="Username or Email Address" required="">
                                <input type="password" id="singin-password" name="password" placeholder="Password" required="">
                            </div>
                            <div class="form-footer">
                                <div class="form-checkbox">
                                    <input type="checkbox" id="signin-remember" name="signin-remember">
                                    <label for="signin-remember">Remember
                                        me</label>
                                </div>
                                <a href="#" class="lost-link">Lost your password?</a>
                            </div>
                            <button class="btn btn-dark btn-block" type="submit">Login</button>
                        </form>
                        <div class="form-choice text-center">
                            <label>or Login With</label>
                            <div class="social-links social-link-active ">
                                <a href="#" title="Facebook" class="social-link social-facebook fab fa-facebook-f"></a>
                                <a href="#" title="Twitter" class="social-link social-twitter fab fa-twitter"></a>
                                <a href="#" title="Linkedin" class="social-link social-linkedin fab fa-linkedin-in"></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="register">

                        <form method="post" action="/registerlogin">
                            <div class="form-group">
                                <input type="text" id="register-user" name="username" placeholder="Username" required="">
                                <input type="email" id="register-email" name="email" placeholder="Your Email Address" required="">
                                <input type="password" id="register-password" name="password" placeholder="Password" required="">
                            </div>
                            <div class="form-footer mb-5">
                                <div class="form-checkbox">
                                    <input type="checkbox" id="register-agree" name="register-agree" required="">
                                    <label for="register-agree">I
                                        agree to the
                                        privacy policy</label>
                                </div>
                            </div>
                            <button class="btn btn-dark btn-block" type="submit">Register</button>
                        </form>
                        <div class="form-choice text-center">
                            <label class="ls-m">or Register With</label>
                            <div class="social-links social-link-active ">
                                <a href="#" title="Facebook" class="social-link social-facebook fab fa-facebook-f"></a>
                                <a href="#" title="Twitter" class="social-link social-twitter fab fa-twitter"></a>
                                <a href="#" title="Linkedin" class="social-link social-linkedin fab fa-linkedin-in"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--login menu end-->

    <!-- navbar start -->
    <div class="stoon-navbar">
        <div class="header-top d-none d-sm-block">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-8">
                        <div class="contact">
                            <a href="tel:+496170961709"><i class="icon-call-header"></i> (939) 353-1107</a>
                            <a href="#"><i class="icon-email-subscribe"></i> support@example.com</a>
                        </div>
                    </div>
                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="shipping text-center">
                            <p>FREE SHIPPING - <span>on all orders over $35*</span></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-4">
                        <div class="social">
                            <ul class="nav-social justify-content-end">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                                <li><a href="#"><i class="icon-pinterest"></i></a></li>
                                <li><a href="#"><i class="icon-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-area navbar-expand-lg nav-style-01">
            <div class="container-fluid nav-container">
                <div class="row">
                    <div class="col-lg-3 col-4 order-1 align-self-center">
                        <div class="logo">
                            <a href="/"><img src="images/logo.png" style="width: 74%; height: auto;" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 order-3 order-lg-2">
                        <!--
                        <div class="collapse navbar-collapse" id="shop-menu">
                            
                            <ul class="navbar-nav menu-open">
                              
                            </ul>
                            
                        </div>
                      -->
                    </div>
                    <!--Begin left-->
                    <div class="col-lg-3 col-8 justify-content-end d-flex order-2 order-lg-3">
                        <div class="nav-right-part">
                            <ul>
                                <li>
                                    <a href="#" id="search"><i class="icon-search"></i></a>
                                </li>
                                <!--cart here begin-->
                                <li class="has-dropdown">
                                    <a href="#"><i class="icon-add-to-cat"></i><span class="badge">
                                      <% if(session.cart) {%>
                                        <%= session.cart.totalQty %>
                                        <% } else {%>
                                            0
                                        <% } %>
                                    </span></a>
                                    <ul>
                                     <% if(cartProducts !== null) {%>
                                         <% cartProducts.map((data) => { %>
                                            <li>
                                                <div class="d-flex">
                                                    <div class="thumb" >
                                                        <img src="<%= data.item.imgUrl %>" alt="sample" style="width: 40%; height: auto;">
                                                    </div>
                                                    <div class="content">
                                                        <h6 class="title"><a href="single-product.html"><%= data.item.details %></a></h6>
                                                        <span class="price">$<%= data.item.price %></span>
                                                    </div>
                                                    <div class="action">
                                                        <input type="number" value="1">
                                                        <a href="/buymain/remove-from-cart/<%= data.item._id %>" class="remove">Remove</a>
                                                    </div>
                                                </div>
                                            </li>
                                        <%})%>
                                       
                                        <li>
                                            <h6 class="tprice"><span>Total price: </span>$<%= session.cart.totalPrice %>.00</h6>
                                            <div class="btn-wrapper">
                                                <a href="/checkout" class="btn btn-cart">Checkout</a>
                                            </div>
                                        </li>
                                        <% } else  {%>
                                            <li>Empty cart</li>
                                        <% } %>
                                    </ul>
                                </li>
                                <!--cart here end-->
                                <li>
                                    <a href="#"><i class="icon-user"></i></a>
                                    <ul class="user-dropdown">
                                    <li>
                                        <% if(!user) {%>
                                            <!--
                                            <a class="login-toggle"  data-toggle="login-modal">
                                                <span class="sr-only">login</span>
                                                <i class="p-icon-user-solid"></i>
                                            </a>
                                            -->
                                            <span style="cursor: pointer" id="open-login" >
                                                <a>Sign In</a>
                                            </span>

                                               |

                                            <span style="cursor: pointer" id="open-login" >
                                                <a class="login-toggle" data-toggle="login-modal" >Join</a>
                                            </span>

                                          <% } else {%>
                                            <span><%=user.Email%></span>
                                          <% } 
                                          %>
                                    </li>
                                        <li><a href="/myaccount"><i class="icon-user"></i> My Account</a></li>
                                        <li><a href="/myaccount"><i class="fa fa-briefcase"></i> My Orders</a></li>
                                        <li><a href="/myaccount"><i class="fa fa-reply"></i> Tracker</a></li>
                                        <li><a href="/myaccount/logout"><i class="fa fa-commenting-o"></i> Logout </a></li>
                                    </ul>
                                </li>
                                <li class="d-none d-lg-block">
                                    <a href="#" id="navigation-button"><i class="icon-bar-icon"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="responsive-mobile-menu">
                            <div class="menu toggle-btn d-block d-lg-none" data-toggle="collapse" data-target="#shop-menu" aria-expanded="false" role="button">
                                <div class="icon-left"></div>
                                <div class="icon-right"></div>
                            </div>
                        </div>
                    </div>
                    <!--end left-->
                    <div class="col-lg-3 col-8 justify-content-end d-flex order-2 order-lg-3">
                        <div class="nav-right-part">
                            <ul>
                               

                            </ul>
                        </div>
                        <div class="responsive-mobile-menu">
                            <div class="menu toggle-btn d-block d-lg-none" data-toggle="collapse" data-target="#shop-menu" aria-expanded="false" role="button">
                                <div class="icon-left"></div>
                                <div class="icon-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- navbar end -->