<%- include ("headermain.ejs"); %>

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-inner d-flex justify-content-between">
                    <h2 class="page-title">My Account</h2>
                    <ul class="page-list">
                        <li><a href="/">Home</a></li>
                        <li><a href="/myaccount">My Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="collection-area margin-top-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-tab">
                            <ul class="nav nav-pills">
                              <li><a data-toggle="pill" href="#home" class="active show">DASHBOARD</a></li>
                              <li><a data-toggle="pill" href="#menu1" class="">ORDERS</a></li>
                              <li><a data-toggle="pill" href="#menu2" class="">HISTORY</a></li>
                              <li><a data-toggle="pill" href="#menu3" class="">TRACK PRODUCT</a></li>
                              <li><a data-toggle="pill" href="#menu4" class="">BILLS AND PAYMENTS</a></li>
                            </ul>
                            
                            <div class="tab-content">
                              <div id="home" class="tab-pane fade in active show">
                                <p>Personal Information</p>

                                <div class="tab-list">
                                    <form action="/myaccount/<%= user._id %>" method="post" class="search-form">

                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input id="name" name="name" type="text" class="form-control" placeholder="name.....">
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input id="email" name="email" type="text" class="form-control" placeholder="name.....">
                                        </div>

                                        <div class="form-group">
                                            <label for="dateofbirth">Date of birth</label>
                                            <input id="dateofbirth" type="date" name="dateofbirth" class="form-control" placeholder="date of birth.....">
                                        </div>

                                        <div class="form-group">
                                            <label for="phone">Contactable</label>
                                            <input id="phone" name="phone" type="text" class="form-control" placeholder="phonenumber.....">
                                        </div>

                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <input id="address" type="text" class="form-control" placeholder="address.....">
                                        </div>

                                        <div class="add-to-cart d-flex justify-content-center align-items-center mt-5" style="color: #fff;" >
                                            <button type="submit" style="background-color: #FF8E78; padding: 15px; border-radius: 8px; color: #fff; cursor: pointer; " ><i class="icon-add-to-cat"></i> Update </button>
                                        </div>
                                    </form>
                                </div>


                              </div>
                              <div id="menu1" class="tab-pane fade">
                                <p>All orders</p>

                                <div class="tab-list">
                                    <div class="col-xl-9 col-lg-8">
                                        <div class="cart-content margin-top-20">
                                            <table class="table table-bordered table-responsive">
                                                <thead>
                                                  <tr class="text-center">
                                                    <th scope="col">Product</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Quanity</th>
                                                    <th scope="col">Total</th>
                                                    <th scope="col">Edit</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <%let orderReverse = user.OrdersMain.reverse(); %>
                                                  <%orderReverse.map((data, index) => {%>
                                                    <tr>
                                                        <th scope="row" class="d-flex">
                                                            <div class="left">
                                                                <img src="<%= data.imgUrl %>" alt="" style="width: 40%; height: auto;">
                                                            </div>
                                                            <div class="right">
                                                                <h6 class="name"><%= data.name %></h6>
                                                                <h6 class="title">Size: <span class="values"><%= data.size %></span></h6>
                                                            </div>
                                                        </th>
                                                        <td>$<%= data.price %></td>
                                                        <td><input type="text" value="<%= data.quantity %>"></td>
                                                        <% const totalpricing = data.price * data.quantity %>
                                                        <td>$<%= totalpricing %></td>
                                                        <td>
                                                            <div class="action">
                                                                <a href="#"><i class="fa fa-times"></i></a>
                                                                <a href="#"><i class="fa fa-pencil"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <%})%>
                                                </tbody>
                                            </table>

                                            <div class="w-100 justify-content-center align-items-center mt-5">
                                                <%if(user.OrdersMain.length == 0) { %>
                                                     <div>
                                                        <div class="w-100 text-center"> No Item has been purchased </div>
                                                     </div>
                                    
                                                    <% } %>
                                            </div>
                                            <div class="d-flex justify-content-between margin-top-30">
                                                <div class="btn-wrapper">
                                                    <a href="#" class="btn btn-continue">Continue Shopping</a>
                                                </div>
                                                <div class="btn-wrapper">
                                                    <a href="#" class="btn btn-clear">Clear Shopping Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div id="menu2" class="tab-pane fade">
                                <p>History</p>

                                <div class="tab-list">
                                    <div class="tab-pane active in" id="orders">
                                        <table class="order-table">
                                            <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%let orderReverseTwo = user.OrdersMain.reverse(); %>
                                                <%orderReverseTwo.map((data, index) => {%>
                                                <tr>
                                                    <td class="order-number"><a href="#"><%=data._id%></a></td>
                                                    <td class="order-date"><span><%= data.dateandtime.toLocaleDateString(); %> <%= data.dateandtime.toLocaleTimeString(); %></span></td>
                                                    <td class="order-status">
                                                        <%if(data.status === 1) {%>
                                                            <span>fufilled</span>
                                                          <%} else {%>
                                                            <span>On hold</span>
                                                         <% } %>
                                                    </td>
                                                    <td class="order-total"><span>N<%=data.price%></span></td>
                                                    </td>
                                                </tr>
                                
                                              <%})%>
                                
                                            </tbody>
                                        </table>
                                
                                
                                        <div class="w-100 justify-content-center align-items-center mt-5">
                                            <%if(user.OrdersMain.length == 0) { %>
                                                 <div>
                                                    <div class="w-100 text-center"> No Item has been purchased </div>
                                                 </div>
                                
                                                <% } %>
                                        </div>
                                
                                    </div>

                                </div>
                              </div>
                              
                              <div id="menu3" class="tab-pane fade">
                                <p>Track product</p>

                                <div class="tab-list">
                                   COMING SOON
                                </div>
                              </div>
                              <div id="menu4" class="tab-pane fade ">
                                <p>BILLS PAYMENT</p>

                                <ul class="tab-list">
                                    COMING SOON
                                </ul>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="widget delivery-widget margin-top-20">
                    <div class="single-delivery-item">
                        <div class="d-flex">
                            <i class="icon-delivery-car"></i>
                            <h4>Delivery</h4>
                        </div>
                        <span>Free shipping on orders over $89.</span>
                    </div>
                    <div class="single-delivery-item">
                        <div class="d-flex">
                            <i class="icon-phone-support"></i>
                            <h4>Support 24/7</h4>
                        </div>
                        <span>Contact us 24 hours a day, 7 days a week.</span>
                    </div>
                    <div class="single-delivery-item">
                        <div class="d-flex">
                            <i class="icon-money-back"></i>
                            <h4>Return</h4>
                        </div>
                        <span>Simply return it within 30 days for an exchange.</span>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<%- include ("footermain.ejs"); %>