<%- include ("../header.ejs"); %>


<div class="hero-one" data-background="assets/img/hero/hero-bg-1.png" style="height: 100%; padding:20px;" >
    <div class="card">
      <div class="card-body">
        <div class="row">

                <div class="collapse multi-collapse show" id="multiCollapseExample1">

                    <div class="card-body border-bottom">
                        <div class="row align-items-center">
                            <div class="col">
                            <h5 class="mb-0">Product Information</h5>
                            </div>
                            <!-- <div class="col-auto">
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Add new Address</button>
                            </div> -->
                        </div>
                    </div>
                    

                    <div class="card-body">
                        
                        <div class="address-check-block">

                            <div class="address-check border rounded p-3">
                                <div class="form-check">
                                  <input type="radio" name="radio1" class="form-check-input input-primary" id="address-check-2">
                                   <label class="form-check-label d-block" for="address-check-2">
                                        <span class="h6 mb-0 d-block"> <%=item.title%> <small class="text-muted">(<%=item.type%>)</small></span>
                                        <span class="text-muted address-details"> <%=item.names%> </span>
                                        <span class="text-muted address-details"> <%=item.details%></span>
                                        <span class="text-muted address-details"> <%=item.description%> </span>
                                        <span class="text-muted address-details"> <%=item.password%> </span>

                                        <span class="col-6">
                                        <span class="text-muted mb-0"></span>
                                        </span>
                                        <span class="col-6 text-end">
                                        <span class="d-flex align-items-center justify-content-end">
                                            <button 
                                              class="btn btn-sm btn-outline-primary"
                                              style="z-index: 999999999;"
                                              id="copier"
                                              onclick="copyText(`<%=item.names%>`, `<%=item.details%>`, `<%=item.description%>`, `<%=item.password%>`)">
                                              Copy Details
                                            </button>
                                        </span>
                                    </span>
                                    </label>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>


     </div>
    </div>
   </div>
  </div>

<%- include ("../footer.ejs"); %>