<%- include ("header.ejs"); %>
<style>

  #data_table_length {
    width: 63px;
    float: left;
  }

  #data_table_filter {
    float: right;
    width: 175px;
  }

  #data_table_filter input {
    min-height: 0px;
    border-radius: 9px;
  }

  #data_table_paginate {
    float: right;
    display: flex;
    gap: 10px;
    padding: 7px;
  }
</style>
<div class="tab-content col-lg-9 col-md-8">
    <div class="tab-pane" id="dashboard">
        <p class="mb-0">
            Hello <span class="font-weight-bold text-secondary">John Doe</span> (not <span class="font-weight-bold text-secondary">John Doe</span>? <a href="login.html" class="text-primary">Log
                out</a>
        </p>
        <p class="">
            From your account dashboard you can view your
            <a href="#orders" class="link-to-tab text-primary">recent orders</a>, manage your <a href="#address" class="link-to-tab text-primary"> shipping and billing
                addresses</a>, and <a href="#account" class="link-to-tab text-primary">edit your
                password and account details</a>.
        </p>
        <div class="row cols-lg-3 cols-xs-2 cols-1 nav">
            <div class="ib-wrapper mb-4">
                <div class="icon-box text-center ib-border"><a href="#orders">
                        <span class="icon-box-icon">
                            <i class="p-icon-orders"></i>
                        </span>
                        <div class="icon-box-content">
                            <p>ORDERS</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ib-wrapper mb-4">
                <div class="icon-box text-center ib-border"><a href="#downloads">
                        <span class="icon-box-icon">
                            <i class="p-icon-download"></i>
                        </span>
                        <div class="icon-box-content">
                            <p>DOWNLOADS</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ib-wrapper mb-4">
                <div class="icon-box text-center ib-border"><a href="#address">
                        <span class="icon-box-icon">
                            <i class="p-icon-map"></i>
                        </span>
                        <div class="icon-box-content">
                            <p>ADDRESSES</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ib-wrapper mb-4">
                <div class="icon-box text-center ib-border"><a href="#account">
                        <span class="icon-box-icon">
                            <i class="p-icon-user-solid"></i>
                        </span>
                        <div class="icon-box-content">
                            <p>ACCOUNT DETAILS</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ib-wrapper mb-4">
                <div class="icon-box text-center ib-border"><a href="wishlist.html" class="no-tab-item">
                        <span class="icon-box-icon">
                            <i class="p-icon-heart-solid"></i>
                        </span>
                        <div class="icon-box-content">
                            <p>WISHLIST</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ib-wrapper mb-4">
                <div class="icon-box text-center ib-border"><a href="login.html" class="no-tab-item">
                        <span class="icon-box-icon">
                            <i class="p-icon-logout"></i>
                        </span>
                        <div class="icon-box-content">
                            <p>LOGOUT</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane active in" id="orders">

        <table class="order-table" id="data_table">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <%let orderReverse = user.Orders.reverse(); %>
                <%orderReverse.map((data, index) => {%>
                <tr>
                    <td class="order-number"><a href="#"><%=data._id%></a></td>
                    <td class="order-date"><span><%= data.dateandtime.toLocaleDateString(); %> <%= data.dateandtime.toLocaleTimeString(); %></span></td>
                    <td class="order-status">
                        <%if(data.status === 1) {%>
                            <span>fufilled</span>
                          <%} else {%>
                            <span>On hold</span>
                         <% } %>
                    </td>
                    <td class="order-total"><span>N<%=data.price%></span></td>
  c: {type: mongoose.Schema.Types.ObjectId, ref: "Products"},
                    <td class="order-action"><a href="/orderdetail/<%=data.buyid%>" class="btn btn-secondary btn-outline btn-block btn-rounded btn-sm">View</a>
                    </td>
                </tr>

              <%})%>

            </tbody>
        </table>


        <div class="w-100 justify-content-center align-items-center mt-5">
            <%if(user.Orders.length == 0) { %>
                 <div>
                    <div class="w-100 text-center"> No Item has been purchased </div>
                 </div>

                <% } %>
        </div>

    </div>
    
    <div class="tab-pane" id="downloads">
        <p class="mb-4 text-body">No downloads available yet.</p>
        <a href="shop.html" class="btn btn-dark">Go to Shop<i class="p-icon-arrow-long-right"></i></a>
    </div>
    <div class="tab-pane" id="address">
        <p>The following addresses will be used on the checkout page by default.
        </p>
        <div class="row">
            <div class="col-sm-6 mb-4">
                <div class="card card-address">
                    <div class="card-body">
                        <h5 class="card-title lh-2 mb-2">Billing Address</h5>
                        <p>John Doe<br>
                            Panda Company<br>
                            Steven street<br>
                            El Carjon, CA 92020
                        </p>
                        <a href="#" class="btn btn-link btn-primary btn-underline">Edit your
                            billing address<i class="p-icon-arrow-long-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="card card-address">
                    <div class="card-body">
                        <h5 class="card-title lh-2 mb-2">Shipping Address</h5>
                        <p>You have not set up this type of address yet.</p>
                        <a href="#" class="btn btn-link btn-primary btn-underline">Add <i class="p-icon-arrow-long-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="account">
        <form action="#">
            <div class="row">
                <div class="col-sm-6 mb-4">
                    <label>First Name *</label>
                    <input type="text" name="first_name" placeholder="John" required="">
                </div>
                <div class="col-sm-6 mb-4">
                    <label>Last Name *</label>
                    <input type="text" name="last_name" placeholder="Doe" required="">
                </div>
            </div>

            <label>Display Name *</label>
            <input type="text" name="display_name" required="" placeholder="John Doe" class="mb-4">
            <span>
                <small class="d-block mb-4">This will be how your name will be displayed
                    in the account section and in reviews</small>
            </span>

            <label>Email Address *</label>
            <input type="email" name="email" required="" placeholder="nicework125@gmail.com">
            <fieldset>
                <legend>Password Change</legend>
                <label>Current password (leave blank to leave unchanged)</label>
                <input type="password" name="current_password">

                <label>New password (leave blank to leave unchanged)</label>
                <input type="password" name="new_password">

                <label>Confirm new password</label>
                <input type="password" name="confirm_password">
            </fieldset>

            <button type="submit" class="btn btn-primary">SAVE CHANGES</button>
        </form>
    </div>
</div>
</div>
</div>

<%- include ("footer.ejs"); %>