<%- include ("../orderdetails/header.ejs"); %>


<div class="tab-pane order active in" id="orders-view" style="width: 100% ;">
    <h2 class="title text-left pb-1">Order Details</h2>
    <div class="order-details">
        <table class="order-details-table">
            <thead>
                <tr class="summary-subtotal">
                    <td>
                        <h3 class="summary-subtitle">Your Order</h3>
                    </td>
                    <td></td>
                </tr>
            </thead>
            <tbody style="overflow-y: scroll; overflow-x: hidden;">
                <%item.map((data, index) => {%>
                 <div style="border-bottom-color: green;">

                    <tr>
                        <td class="product-name">Type </td>
                        <td class="product-price"><%=data.type%></td>
                    </tr>

                    <tr>
                        <td class="product-name"> username </td>
                        <%  const valueId = data.password.split(','); %>
                        <td class="d-flex justify-content-end">
                            <div class="product-price d-flex">
                                <div class=""><%=valueId[0]%></div> 
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="product-name"> password </td>
                        <td class="d-flex justify-content-end">
                            <div class="product-price d-flex">
                                <div class=""><%=valueId[1]%></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                     <td class="product-name"> Details </td>
                        <td class="d-flex justify-content-end align-items-centers">
                            <div class="product-price d-flex" style="width: 100%; display: flex; justify-content: end; gap: 21px;">
                                <div id='copyItems'+<%=index%>+' style="width: 147px; height: 68px; overflow: auto; border: 1px solid black; border-radius: 5px; text-center">
                                    <%= data.details %>
                                </div>
                                <div class="">
                                <button
                                style="background: #ff9c28; border-radius: 5px;font-size: 12px;"
                                 id="btcCopy"
                                 onclick="copyText(`#copyItems${<%=index%>}`, '<%=data.details%>', '<%=valueId[0]%>', '<%=valueId[1]%>')"
                                 >copy</button>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="product-name"> File Format </td>
                           <td class="d-flex justify-content-end align-items-centers">
                               <div class="product-price d-flex" style="width: 100%; display: flex; justify-content: end; gap: 21px;">
                                   <div style=" height: 40px; border: 1px solid black; border-radius: 5px; text-align: center; padding: 6px;">
                                       <%= data.format%>
                                   </div>
                               </div>
                           </td>
                       </tr>

                       <tr>
                        <td class="product-name"> Description </td>
                           <td class="d-flex justify-content-end align-items-centers">
                               <div class="product-price d-flex" style="width: 100%; display: flex; justify-content: end; gap: 21px;">
                                   <div style="border-radius: 5px;">
                                       <%= data.description%>
                                   </div>
                               </div>
                           </td>
                       </tr>
                       
                       
                    <tr class="summary-subtotal">
                        <td>
                            <h4 class="summary-subtitle">Amount:</h4>
                        </td>
                        <td class="summary-value font-weight-normal">N<%=data.price%></td>
                    </tr>
                  </div>
                <%})%>
            </tbody>
        </table>
    </div>


    <hr class="mt-0 mb-6">
    <a href="/orders" class="btn btn-dark btn-sm back-order"><i class="p-icon-arrow-long-left ml-0 mr-1"></i>Back to list</a>
</div>
</div>

<%- include ("../orderdetails/footer.ejs"); %>